/* タブレット向けレイアウト */
@media all and (max-width: 800px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .header-right-active {
    display: block;
    background-color:rgba(255,255,253,0.5);
    position: absolute;
    top: 65px;
    right: 0;
  }
  
  .header-nav-active {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}


/* スマホ向けレイアウト */

@media all and (max-width: 670px) {


  .hero-wrapper h1 {
    font-size: 90px;
}
  .hero-wrapper p {
    font-size: 18px;
  }

}