/* タブレット向けレイアウト */
@media all and (max-width: 800px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .close {
    color: tomato;
  }


}


/* スマホ向けレイアウト */

@media all and (max-width: 670px) {


  .hero-wrapper h1 {
    font-size: 90px;
}
  .hero-wrapper p {
    font-size: 18px;
  }

}